@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>This is an assignment for FIT5032.</p>

    <address>
        <strong>My Contact Email:</strong>
        <a href="mailto:ydai0035@student.monash.edu">ydai0035@student.monash.edu</a>
    </address>
</main>
